#slider-container{
  width: 70%;
  height: 210px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #FAF2ED;
  margin: 0 auto;
  margin-top: 70px;

}

#slider{
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#slider::-webkit-scrollbar{
  display: none;
}

h1{
  margin-top: 200px;
  text-align: center;
  font: 1.75em 'Roboto', sans-serif;
}

.slider-card{
  width: 200px;
  height: 200px;
  margin-left: 7px;
  margin-right: 7px;
  background:  #F2CB8A;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
}

.slider-subject{
  font-weight: bold;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.icon-left, .icon-right {
  background: white;
  border-radius: 100%;
  opacity: 0.25;
  position: absolute;
  cursor: pointer;
}

.icon-left{
  left: 0;
}

.icon-right{
  right: 0;
}